@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 216, 125, 74;
  --secondary: 16, 16, 16;
  --primary-light: 251, 175, 133;
  --grey: 241, 241, 241;
  --light-grey: 250, 250, 250;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
